## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.rsuser
*.pidb
*.booproj

## NuGet
*.nupkg
**/packages/*
!**/packages/build/
*.snupkg

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## JetBrains Rider
.idea/
*.sln.iml

## OS
.DS_Store
Thumbs.db
